# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Packaging build artifacts
dist/deb_build/
dist/unmask
*.bundle.zip
*.tar.gz

# Unit test / coverage
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
.DS_Store
